html {
  height: 100%;
  width: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
  color: white;
}

h2 {
  font-size: 1.4rem;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

.dim-font {
  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 100%;

  display: flex;
  justify-content: center;
}

.main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  display:flex;
  justify-content:center;
  height: fit-content;
  width:600px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.column1 {
  background-image:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width:50%;
  border-radius:30px;
  
  text-align: center;
  padding: 30px;
}

.your-result {
  padding-bottom: 30px;
}


.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total-score {
  font-size: 4.3rem;
  font-weight: bold;
}

.result-explanation {
  margin: 0px 30px;
}

.column2 {
  width:50%;
  display: flex;
  flex-direction: column;
}

.score-summary div {
  background-color: hsl(241, 81%, 54%);
  padding: 10px;
  margin: 10px 20px;
  border-radius: 10px;
}

.continue-button {
  padding: 10px 70px;
  background-color: hsl(241, 81%, 54%);
  color: white;
  margin: 20px auto;
  border-radius: 30px;
}

